# Compilation of Ledger's app
bin/
debug/
build/

# Unit tests and code coverage
tests/unit/build/
tests/unit/coverage/
tests/unit/coverage.*

# Python
venv/
*.pyc
__version__.py

.vscode
.idea

# Fuzzing
tests/fuzzing/corpus/
tests/fuzzing/out/
default.profraw
default.profdata
fuzz-*.log
crash-*
report.html
