[submodule "ethereum-plugin-sdk"]
	path = ethereum-plugin-sdk
	url = https://github.com/LedgerHQ/ethereum-plugin-sdk.git
[submodule ".github/instructions"]
	path = .github/instructions
	url = https://github.com/LedgerHQ/ledger-app-ai-instructions.git
