# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
debug/
dep/
obj/
build/

# Python
*.pyc
__version__.py

# JS
tests/node_modules
tests/lib
tests/yarn-error.log
tests/elfs/*
tests/snapshots-tmp

.vscode
.idea